
@{
    ViewBag.Title = "Description";
}

<h2>Алгоритм поиска светлячков</h2>

<p>
    Пусть дана функция <strong class="formula">f(х)</strong>
    , ограниченная снизу на множестве <strong class="formula">
    R<sup>n</sup>
    </strong> и имею­щая непрерывные частные производные во всех его точках.
    <br />
    Требуется найти локальный минимум функции <strong class="formula">
    f(х)
    </strong> на множестве допус­тимых решений <strong class="formula">
    X = R<sup>n</sup>
    </strong>,
    <br />
    т.е. найти такую точку <strong class="formula">f(х*) = min f(x), f(x) ∈ C<sup>2</sup></strong>,
    где <strong class="formula">x ∈ R<sup>n</sup></strong>.
</p>

